# Sieve analysis

# Document information

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Sieve analysis</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2018-07-11</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-07-11</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">sieve_analysis.ipynb</td>
    </tr>
    <tr>
        <th class="text-align:left">Other files required</th>
        <td class="text-align:left">sieve_data.csv</td>
    </tr>
</table>

# In brevi

The purpose of this Jupyter notebook is to analyse sieve data.

# Methodology

TBD

# Data

Download the data file:

- TBD

# Import libraries and basic setup

In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.cm as cm
import numpy as np
dots_c, line_c, *_ = cm.Paired.colors

# Read the data file

TBD

In [2]:
df = pd.read_csv('sieve_data.csv')

In [3]:
df.head()

  standard sieve tyler sieve  sieve diameter  sieve mass  sieve soil mass
0            NaN           3            6730         NaN              NaN
1              4           4            4760         1.0              1.6
2              5           5            4000         NaN              NaN
3              6           6            3360         NaN              NaN
4              7           7            2830         NaN              NaN

In [4]:
df.tail()

   standard sieve tyler sieve  sieve diameter  sieve mass  sieve soil mass
25            200         200              74        23.1             46.2
26            230         250              62         NaN              NaN
27            270         270              53         NaN              NaN
28            325         325              44         NaN              NaN
29            pan         pan              10         0.9              1.8

# Perform the analysis

In [5]:
df['retained mass'] = df['sieve soil mass'] - df['sieve mass']

In [6]:
df.dropna(subset=['sieve mass'], inplace=True)
df

,standard sieve,tyler sieve,sieve diameter,sieve mass,sieve soil mass,retained mass
1,4,4,4760,1.0,1.6,0.6
6,10,9,2000,1.0,1.6,0.6
11,20,20,841,208.0,416.0,208.0
15,40,35,420,191.4,382.8,191.4
18,60,60,250,72.3,144.6,72.3
25,200,200,74,23.1,46.2,23.1
29,pan,pan,10,0.9,1.8,0.9

In [7]:
retained_mass_total = df['retained mass'].sum()
retained_mass_total

496.90000000000003

In [8]:
df['retained percentage'] = df['retained mass'] / retained_mass_total * 100

In [9]:
df

,standard sieve,tyler sieve,sieve diameter,sieve mass,sieve soil mass,retained mass,retained percentage
1,4,4,4760,1.0,1.6,0.6,0.120749
6,10,9,2000,1.0,1.6,0.6,0.120749
11,20,20,841,208.0,416.0,208.0,41.859529
15,40,35,420,191.4,382.8,191.4,38.518817
18,60,60,250,72.3,144.6,72.3,14.550211
25,200,200,74,23.1,46.2,23.1,4.648823
29,pan,pan,10,0.9,1.8,0.9,0.181123

In [10]:
df['cumulative retained percentage'] = df['retained percentage'].cumsum()

In [11]:
df

,standard sieve,tyler sieve,sieve diameter,sieve mass,sieve soil mass,retained mass,retained percentage,cumulative retained percentage
1,4,4,4760,1.0,1.6,0.6,0.120749,0.120749
6,10,9,2000,1.0,1.6,0.6,0.120749,0.241497
11,20,20,841,208.0,416.0,208.0,41.859529,42.101026
15,40,35,420,191.4,382.8,191.4,38.518817,80.619843
18,60,60,250,72.3,144.6,72.3,14.550211,95.170054
25,200,200,74,23.1,46.2,23.1,4.648823,99.818877
29,pan,pan,10,0.9,1.8,0.9,0.181123,100.000000

In [12]:
df['passing percentage'] = 100 - df['cumulative retained percentage']

In [13]:
df.round(3)

,standard sieve,tyler sieve,sieve diameter,sieve mass,sieve soil mass,retained mass,retained percentage,cumulative retained percentage,passing percentage
1,4,4,4760,1.0,1.6,0.6,0.121,0.121,99.879
6,10,9,2000,1.0,1.6,0.6,0.121,0.241,99.759
11,20,20,841,208.0,416.0,208.0,41.860,42.101,57.899
15,40,35,420,191.4,382.8,191.4,38.519,80.620,19.380
18,60,60,250,72.3,144.6,72.3,14.550,95.170,4.830
25,200,200,74,23.1,46.2,23.1,4.649,99.819,0.181
29,pan,pan,10,0.9,1.8,0.9,0.181,100.000,0.000

In [14]:
#df['retained mass times ln diamter'] = df['retained mass'] * log(df['sieve diameter'])
df['retained mass times ln diamter'] = df['retained mass'] * np.log(df['sieve diameter'])

In [15]:
df.round(3)

,standard sieve,tyler sieve,sieve diameter,sieve mass,sieve soil mass,retained mass,retained percentage,cumulative retained percentage,passing percentage,retained mass times ln diamter
1,4,4,4760,1.0,1.6,0.6,0.121,0.121,99.879,5.081
6,10,9,2000,1.0,1.6,0.6,0.121,0.241,99.759,4.561
11,20,20,841,208.0,416.0,208.0,41.860,42.101,57.899,1400.795
15,40,35,420,191.4,382.8,191.4,38.519,80.620,19.380,1156.105
18,60,60,250,72.3,144.6,72.3,14.550,95.170,4.830,399.202
25,200,200,74,23.1,46.2,23.1,4.649,99.819,0.181,99.424
29,pan,pan,10,0.9,1.8,0.9,0.181,100.000,0.000,2.072

In [16]:
retained_mass_times_ln_diameter_total = df['retained mass times ln diamter'].sum()
retained_mass_times_ln_diameter_total

3067.239014855082

In [17]:
df['another variable'] = df['retained mass'] * (np.log(df['sieve diameter']) - retained_mass_times_ln_diameter_total)**2

In [18]:
df

,standard sieve,tyler sieve,sieve diameter,sieve mass,sieve soil mass,retained mass,retained percentage,cumulative retained percentage,passing percentage,retained mass times ln diamter,another variable
1,4,4,4760,1.0,1.6,0.6,0.120749,0.120749,99.879251,5.080802,5.613648e+06
6,10,9,2000,1.0,1.6,0.6,0.120749,0.241497,99.758503,4.560541,5.616831e+06
11,20,20,841,208.0,416.0,208.0,41.859529,42.101026,57.898974,1400.795065,1.948271e+09
15,40,35,420,191.4,382.8,191.4,38.518817,80.619843,19.380157,1156.104752,1.793598e+09
18,60,60,250,72.3,144.6,72.3,14.550211,95.170054,4.829946,399.201624,6.777485e+08
25,200,200,74,23.1,46.2,23.1,4.648823,99.818877,0.181123,99.423904,2.167143e+08
29,pan,pan,10,0.9,1.8,0.9,0.181123,100.000000,0.000000,2.072327,8.454452e+06

In [21]:
AA = (df['retained mass'] * np.log(df['sieve diameter'])).sum()

In [22]:
AA

3067.239014855082

In [23]:
retained_mass_total

496.90000000000003

In [35]:
print('average particle size',
      np.exp(((df['retained mass'] * np.log(df['sieve diameter'])).sum())\
      /retained_mass_total),
      sep=" = ")

average particle size = 479.5024836463427